/*
 * Blue: #005496
 * Black: #30302E
 */

@font-face {
  font-family: "SmgFlamaCond";
  font-weight: normal;
  src: url("fonts/SmgFlamaCond-Medium.otf");
}

@font-face {
  font-family: "SmgFlamaCond";
  font-weight: bold;
  src: url("fonts/SmgFlamaCond-Bold.otf");
}

body {
  font-size: 22px;
}

h1 {
  color: #005496;
  font-size: 76px;
  line-height: 1;
}

h2 {
  font-size: 36px;
  line-height: 39px;
  margin-bottom: 28px;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  color: #30302E;
}

h1, h2, h3 {
  font-family: SmgFlamaCond;
  font-weight: bold;
  text-transform: uppercase;
}

a {
  color: #005496;
  text-decoration: none;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
}

h1.schibsted {
  background: #F8F6F5;
  width: 300px;
  padding: 10px;
  position: relative;
  top: -10px;
  left: -10px;
}

.main {
  margin-bottom: 80px;
}

.main .container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.main .projects,
.main .blogs {
  flex-direction: row;
  width: 44%;
}

.hero {
  background-image: url('images/mosaic.svg');
  background-size: 480px auto;
  background-repeat: no-repeat;
  background-position: right bottom;
  display: block;
  min-height: 280px;
  background-color: #F8F6F5;
  padding-top: 20px;
}

.hero .button {
  background: #F8F6F5;
}

.container {
  width: 80%;
  padding: 0 20px;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-width: 800px) {

  .container {
    flex-wrap: wrap;
  }

  .main .projects,
  .main .blogs {
    flex-direction: column;
    width: 100%;
  }

  .main .projects .description {
    display: none;
  }

}

@media only screen and (min-width: 800px) {
  .main .projects {
    background-color: #365990;
    color: #fff;
    padding: 10px 30px;
    margin: -30px 0;
  }

  .main .projects .links {
    margin-bottom: 30px;
  }

  .main .projects .link,
  .main .projects a {
    color: #fff;
  }

  .main .projects .link a:hover {
    color: #fff;
    opacity: 1.0;
    text-decoration: underline;
  }

  .main .projects .button {
    border-color: #fff;
    margin-bottom: 30px;
  }

  .main .projects .button:hover {
    background-color: #fff;
    color: #005496;
  }

}

.links {
  margin: 0;
  padding: 0;
  color: #005496;
}

.links .material-icons {
  margin-right: 7px;
  position: relative;
  top: 4px;
}

.links .link {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #f0ece9;
}

.links .link a {
  font-size: 24px;
  line-height: 23px;
  font-weight: 600;
}

.links .link p {
  font-size: 18px;
  margin-bottom: 0px;
}

.links a:hover {
  color: #007bff;
  opacity: .75;
  text-decoration: underline;
}

.button {
  text-decoration: none;
  padding: 15px 20px;
  color: #005496;
  transition: background-color 0.2s, border-color 0.2s, color 0.2s;
  font-family: "SmgFlamaCond";
  font-weight: bold;
  font-size: 15px;
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
  border-radius: 24px;
  border: 2px solid #005496;
}

.button:hover {
  background: #005496;
  border-color: #005496;
  color: #fff;
}
